header {
    background-color: #1B2338;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;   
    border: 3px solid rgb(34, 33, 33);
}

h1 {
    color: #0048ad;
    margin: 0px;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #666;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(to right, rgba(120, 1, 255, 0.5), transparent);
    transition: transform 0.3s ease;
    padding: 20px;
}

.sidebar:hover {
    transform: translateX(0);
}

.sidebar.hidden {
    transform: translateX(-200px);
}

.tab-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-list li {
    margin-bottom: 10px;
}

.tab-list a {
    text-decoration: none;
    color: #333;
}

.content {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.gif {
    margin: 15px;
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

body {
    background-color: #bbbbbb;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    margin-top: 50px;
    max-width: 700%;
}

h1 {
    color: #043049;
    font-size: 180%;
}

form {
    margin-top: 20px;
}

label {
    font-size: 18px;
    color: #666666;
}

input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #999999;
}

button {
    padding: 10px 20px;
    background-color: #043049;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 5px;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    background-color: #16166d;
}

p {
    margin-top: 30px;
    font-size: 24px;
    color: #666666;
    font-weight: bold;
}

#mensagem {
    margin-top: 20px;
    background-color: #bbbbbb;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    /* Resto dos estilos... */
  border: 3px solid rgb(34, 33, 33);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.animated {
    animation-name: pulse;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

/* Estilos para telas pequenas */
@media screen and (max-width: 600px) {
    .sidebar {
      width: 100%;
      height: auto;
      padding: 10px;
      position: static;
      background: none;
      transform: none;
      transition: none;
    }
  
    .sidebar.hidden {
      display: none;
    }
  
    .content {
      position: static;
      padding: 10px;
      margin-top: 10px;
    }
  
    .container {
      max-width: 100%;
      margin-top: 100px;
    }
  }
  
  /* Estilos para telas médias e grandes */
  @media screen and (min-width: 601px) {
    .container {
      max-width: 800px;
    }
  }
  
